/* Import our title font */
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #111111;
    --foreground: #f5f5f5;
  }
  
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* --- THE FINAL POLISH: HIDE THE SCROLLBAR --- */

  /* For Firefox */
  * {
    scrollbar-width: none;
  }

  /* For Chrome, Safari, and Edge */
  *::-webkit-scrollbar {
    display: none;
  }
}
}